

<!-- /Cuisine    -->
<h3>View all cuisines</h3>
<h3>Add a cuisine </h3>


<form action="/cuisine" method="post">
  <div class="form-control">
    <label for="nameOfCuisine">Name of cuisine</label>
    <input type="" name="nameOfCuisine" value="nameOfCuisine" placeholder="name of cuisine">
  </div>
  <button type="submit" class="btn btn-success" >Add Cuisine </button>
</form>
